/* Variables */
@font-face {
  font-family: "FontPrimary";
  src: url("../Fonts/BaskervilleMTStd-Italic.otf");
  font-size: xx-large;
}
@font-face {
  font-family: "FontNav";
  src: url("../Fonts/HelveticaNeueLTStd-Md.otf");
}

/* Header and Nav */
.navbar-brand {
  padding-left: 80px;
}
.navbar-brand img {
  width: 13rem;
}
.social-media img {
  width: 1rem;
  height: 1rem;
}
.navbar-nav li {
  padding-right: 50px;
}
.header .navbar {
  background-color: rgba(5, 6, 10, 0.5);
}
.header .navbar .nav-link {
  font-family: "FontNav", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: small;
  color: white;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators .active {
  background-color: white;
}

.carousel-caption {
  font-family: "FontPrimary", italic;
  height: 50%;
}

/* Main and Body */
main {
  background-color: rgb(34, 38, 47);
}

.container-fluid .text {
  color: white;
  padding-left: 15%;
  padding-right: 5%;
  padding-top: 10%;
  font-size: medium;
}
hr {
  border-top: 1px solid white;
  margin-left: 0%;
  margin-right: 92%;
}

.container-fluid img {
  max-width: 100%;
}

.container-fluid h2 {
  font-family: "FontPrimary", italic;
}

.container-fluid p {
}

/* Footer */
footer {
  background-color: rgb(25, 28, 35);
}
